<div id="head">
  <div class="res">Resume</div>
  <div class="res">Projects</div>
</div>
<h1 id="name">Michael Davis</h1>
<div id="mono">
  <p>Designer &bull; Innovator &bull; Tech-Enthusiast</p>
</div>
<div id="tools">
  <div class="item"><a href="#"><img src="../assets/img/git.png" alt="" /></a></div>
  <div class="item"><a href="#"><img src="../assets/img/fb.png" alt="" /></a></div>
  <div id="phone" class="item"><a href="#"><img src="../assets/img/phone.png" alt="" /></a></div>
  <div id="email" class="item"><a href="#"><img src="../assets/img/email.png" alt="" /></a></div>
  <div class="item"><a href="#"><img src="../assets/img/hack.png" alt="" /></a></div>
  <div class="item"><a href="#"><img src="../assets/img/blog.png" alt="" /></a></div>
</div>
<div id="con">
  <div id="content"></div>
</div>
