body {
  background: url("../img/bg.jpeg") no-repeat center center fixed;
  background-size: cover; }

#name {
  text-align: center;
  color: white;
  font-family: 'Fjalla One',sans-serif;
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
  position: relative;
  top: -webkit-calc((100vh - 72px) * 0.30);
  top: calc((100vh - 72px) * 0.30);
  opacity: 0.9; }

#tools {
  width: 700px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: -webkit-calc((100vh - 75px) * 0.25);
  top: calc((100vh - 75px) * 0.25); }

.item {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  background-color: black;
  opacity: 0.7;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  margin-right: 20px; }

.item:first-child {
  margin-left: 95px; }
